 h1{
                    background-color: beige;text-align: center;
                }
                p1{
                    color: rgb(143, 27, 153);font-family: 'Times New Roman';
                }
                body{background-color: rgb(171, 205, 212);}
